<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <span class="navbar-toggler-icon"></span>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <h3 class="nav-link" routerLink="/">Accueil</h3>
        </li>
        <li class="nav-item">
          <h3 class="nav-link" routerLink="/add-image">Ajouter une image</h3>
        </li>
        <li class="nav-item">
          <h3 class="nav-link" routerLink="/app-liste-images">Liste images</h3>
        </li>
      </ul>
    </div>
    <div class="search">
      <div class="search-input">
        <div class="input-group">
          <input
            [(ngModel)]="searchText"
            type="text"
            placeholder="Rechercher"
            (input)="onInput()" 
          />
          <div class="icon-clear" *ngIf="searchText" (click)="clearSearch()">
            <mat-icon>clear</mat-icon>
          </div>
        </div>
        <button *ngIf="searchText" (click)="searchImages()">Valider</button>
      </div>

      <div class="recoVocal">
        <div class="icon-search" 
             [class.isListening]="isListening && !isSearching" 
             [class.isConverting]="isConverting && !isSearching" 
             [class.isSearching]="isSearching && searchText == ''" 
             (click)="startListening()">
          <mat-icon>{{ isListening || isConverting ? 'hearing' : 'mic' }}</mat-icon>
        </div>
      </div>
    </div>
  </div>
</nav>
