.mat-dialog-container {
    background-color: black !important;
    color: white;
  }
  
.modal-image{
    width: 100%;
}
.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
.modal-description {
font-size: 18px;
margin-bottom: 10px;
color: black;
}

.modal-tags {
font-size: 16px;
margin-bottom: 20px;
}

.mat-dialog-content {
text-align: center;
}
  