<mat-dialog-content>
  <div class="close-button">
    <img src="../../assets/close.png" alt="Fermer" (click)="onClose()" />
  </div>
  <h2 mat-dialog-title class="modal-title">{{ data.name }}</h2>
  <div class="modal-image-container">
    <img [src]="data.url" [alt]="data.name" class="modal-image" />
  </div>
  <h3 class="modal-label">Description :</h3>
  <p class="modal-description">{{ capitalizeFirstLetter(data.description) }}</p>
  <h3 class="modal-label">Tags :</h3>
  <div class="modal-tags">
    <div *ngFor="let tag of data.tags">
        <span class="tag">{{ tag.name }}</span> :
        <span class="confidence">{{ tag.confidence }}</span>
    </div>
</div>


  
  <div class="delete-button">
    <img src="../../assets/supprimer.png" alt="Supprimer" (click)="onDelete(data.name)" />
  </div>
    <div class="download-button">
      <img src="../../assets/download.png" alt="Download" (click)="onDownload(data.name)" />
    </div>
</mat-dialog-content>
