<div class="container mt-4">
  <div class="d-flex justify-content-center mb-3">
    <input type="file" (change)="onFileSelected($event)" />
    <button class="btn btn-success ms-3" (click)="onUpload()">Uploader</button>
  </div>
  <div class="carousel-container">
    <div class="carousel" *ngFor="let image of images">
      <div class="image-container">
        <img
          [src]="'http://localhost:8000/download/' + image"
          [alt]="image"
          class="image"
        />
      </div>
      <div class="image-info">
        <h5 class="image-title">{{ image }}</h5>
        <button class="btn btn-primary" (click)="onDownload(image)">
          Télécharger
        </button>
      </div>
    </div>
  </div>
</div>
