<div class="container mt-4">
  <div class="d-flex justify-content-center mb-3">
    <input type="file" (change)="onFileSelected($event)" />
    <button class="btn btn-success ms-3" (click)="onUpload()">Uploader</button>
  </div>
  <div class="carousel-container">
    <div class="carousel" *ngFor="let image of images">
      <div class="image-container">
        <img *ngIf="image && image.url" [src]="image.url" alt="Image" />
      </div>

      <div class="image-info">
        <h5 class="image-title">{{ image.name }}</h5>
        <p class="image-description">{{ image.description }}</p>
        <div class="image-tags">
          <span *ngFor="let tag of image.tags" class="tag">{{ tag }}</span>
        </div>
        <button class="btn btn-primary" (click)="onDownload(image.name)">
          Télécharger
        </button>
      </div>
    </div>
  </div>
</div>
