<input type="file" (change)="onFileSelected($event)" />
<button (click)="onUpload()">Upload</button><br>
<button (click)="onDownload('Cheesecake.jpg')">Download image</button>
<div *ngFor="let image of images">
  <img [src]="'http://localhost:8000/download/' + image" [alt]="image" />
</div>


<!-- app.component.html -->
<!-- <div *ngFor="let todo of todos">
  {{ todo.titre }} - {{ todo.description }}
  <button (click)="deleteTodo(todo.id)">Supprimer</button>
</div>
<button (click)="addTodo()">Ajouter une tâche</button> -->
