body {
  font-family: Arial, sans-serif;
  background-color: #00b1ca;
}

.liste {
  padding: 20px;
  margin: 40px auto;
  max-width: 400px;
  min-width: 200px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #00b1ca;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.select-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  
  &::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 5px;
    pointer-events: none;
    transform: translateY(-50%);
    color: black;
  }
}

i {
  color: #000000;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
}

.modal-content img {
  cursor: pointer;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  border-radius: 10px;
}

select {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  background: #fff200;
  color: #000000;
  font-size: 16px;
  transition: all 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 25px;
  appearance: none;

  &:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
  }
}

table {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  display: block;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  text-align: left;
}

th, td {
  padding: 12px 15px;
  font-size: 0.8em;
  text-align: center;
}

th {
  background-color: #00b1ca;
  color: white;
  text-align: center;
  font-size: 14px;
}

tr {
  border-bottom: 1px solid #dddddd;
  color: white;
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: #5fc6d3;
  color: black;
  text-align: center;
}

tr:last-of-type {
  border-bottom: 2px solid #9bdfe9ea;
}

td:last-of-type {
  text-align: right;
}

td:first-of-type {
  text-align: center;
}

td {
  text-align: center;
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 10px;
}

.simple-list {
  list-style: none;
  padding: 0;
}

.simple-list li {
  margin-bottom: 10px;
  font-size: 16px;
}

.image-gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.image-card {
  cursor: default;
  border: 2px solid #00b1ca;
  background-color: #000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  overflow: hidden;
}

.image-card h3 {
  margin: 10px 0;
  font-size: 1.2em;
  color: #fff;
  text-align: center;
  width: 100%;
}

.image-card h4 {
  font-size: 0.9em;
  color: #ddd;
  text-align: left;
  margin-top: 10px;
  width: 100%;
}

.image-card p {
  font-size: 0.8em;
  color: #bbb;
  text-align: left;
  width: 100%;
}

.image-card img {
  cursor: pointer;
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.description{
  text-align: left !important;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #00b1ca;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.buttonDelete {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ca0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.buttonDownload {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1bca00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image-preview {
  display: none;
  width: 400px;
  height: 400px;
  position: fixed;
  pointer-events: none;
  z-index: 100;
  border-radius: 10px;
  object-fit: contain;
  cursor: none;
}

a:hover {
  cursor: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7), auto;
}

.full-width {
  width: 100%;
}

