body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.liste {
  padding: 20px;
  margin: 40px auto;
  max-width: 400px;
  min-width: 200px; /* Ajout d'une largeur minimale */
  text-align: center; /* Centrer le titre */
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #00b1ca;
}

.select-container {
  display: flex;
  justify-content: center;
  width: 100%; /* Ajout d'une largeur de 100% pour que la liste déroulante occupe l'espace disponible */
}

select {
  padding: 10px 12px;
  margin: 5px;
  border: 1px solid #bec5dc;
  color: #464f6a;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%; /* Ajout d'une largeur de 100% pour que la liste déroulante occupe l'espace disponible */

  &:focus {
    border-color: #00b1ca;
  }
}

/* CSS pour le tableau */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: black;
}

/* CSS pour la liste simple */
.simple-list {
  list-style: none;
  padding: 0;
}

.simple-list li {
  margin-bottom: 10px;
  font-size: 16px;
}

/* CSS pour la galerie d'images */
.image-gallery {
  display: flex;
  flex-wrap: wrap;
}

.image-card {
  width: calc(33.33% - 20px);
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.image-card h3 {
  margin-top: 0;
}

.image-card p {
  margin-bottom: 0;
}

.image-card img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}
/* CSS pour le bouton "Changer de mode" */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Centrage du bouton */
.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* CSS pour la galerie d'images */
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Ajout pour centrer la galerie d'images */
}

.image-card {
  width: calc(33.33% - 20px);
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.image-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image-card p {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin: 0;
}


// /* Media queries pour rendre le tableau responsive */
// @media (max-width: 768px) {
//   table {
//     font-size: 12px;
//   }
//   th, td {
//     padding: 6px;
//   }
// }

// @media (max-width: 576px) {
//   .image-card {
//     width: calc(50% - 20px);
//   }
// }

