<app-header></app-header>

<div class="container">
  <button (click)="toggleDisplayMode()">Changer de mode</button>
  <!-- Ajoutez ce bouton pour déclencher la suppression des images sélectionnées -->
  <button (click)="onDeleteSelected()">Supprimer les images sélectionnées</button>
  <button (click)="onDownloadSelected()">Télécharger les images sélectionnées</button>
</div>

<div *ngIf="displayMode === 'table'">
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>URL</th>
        <th>Tags / Confidence</th>
        <th>Date de création</th>
        <th>Sélection</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let image of images">
        <tr>
          <td>{{ image.name }}</td>
          <td>{{ image.description }}</td>
          <td>{{ image.url }}</td>
          <td>
            <span *ngFor="let tag of image.tags">
              {{ tag.name }} : {{ tag.confidence }},
            </span>
          </td>
          <td>{{ image.created_at }}</td>
          <!-- Ajoutez cette case à cocher liée à la propriété 'selected' de l'image -->
          <td><input type="checkbox" [(ngModel)]="image.selected"></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div *ngIf="displayMode === 'gallery'">
  <!-- Contenu de la galerie d'images ici -->
  <div class="container">
    <div class="image-gallery">
      <div class="image-card" *ngFor="let image of images">
        <!-- Ajoutez cette case à cocher avant l'image -->
        <input type="checkbox" [(ngModel)]="image.selected">
        <img src="{{ image.url }}" alt="{{ image.name }}">
        <h3>{{ image.name }}</h3>
        <p>{{ image.description }}</p>
        <p>
          <span *ngFor="let tag of image.tags">
            {{ tag.name }} : {{ tag.confidence }},
          </span>
        </p>
        <p>{{ image.created_at }}</p>
      </div>
    </div>
  </div>
</div>
