<!-- monapplication/templates/ajouter_todo.html -->
{% extends 'base.html' %}

{% block content %}
  <h2 class="mb-4">Ajouter une nouvelle tâche</h2>
  <form method="post" class="mb-4">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.titre.id_for_label }}">Titre :</label>
      <input type="text" name="{{ form.titre.html_name }}" id="{{ form.titre.auto_id }}" class="form-control" value="{{ form.titre.value|default:'' }}" required>
    </div>
    <div class="form-group">
      <label for="{{ form.description.id_for_label }}">Description :</label>
      <textarea name="{{ form.description.html_name }}" id="{{ form.description.auto_id }}" class="form-control" rows="3" required>{{ form.description.value|default:'' }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
{% endblock %}
