body{
  background-color: black;
}
.carousel-container {
  overflow-x: auto;
  justify-content: space-around;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  }
  
  .carousel {
    max-width: 550px; // Ajustez la taille maximale des images ici
    margin-right: 1rem;
  }
 
  .image{
    border-radius: 20px;
  }
  
  // .image-container {
  //   display: flex;
  //   justify-content: center;
  //   position: relative;
  //   width: 100%;
  //   height: 200px;
  //   cursor: pointer;
  //   margin: 20px;
  
  //   img {
  //     transition: transform 0.2s ease-out;
  //   }
  
  //   &:hover img {
  //     transform: scale(1.05);
  //   }
  
  //   .image-info {
  //     position: absolute;
  //     bottom: 0px;
  //     right: 20px;
  //     opacity: 0;
  //     transition: opacity 0.3s;
  //   }
  
  //   &:hover .image-info {
  //     opacity: 1;
  //   }
  // }
  .image-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 200px;
    cursor: pointer;
    margin: 20px 0 20px 0;
    img {
          transition: transform 0.2s ease-out;
        }
      
        &:hover img {
          transform: scale(1.05);
        }
      
        .image-info {
          position: absolute;
          bottom: 0px;
          right: 0px;
          opacity: 0;
          transition: opacity 0.3s;
        }
      
        &:hover .image-info {
          opacity: 1;
        }
  }
  
  
  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
  
  .image-title {
    color: #fff;
    word-wrap: break-word; // Permet le retour à la ligne pour les titres longs
    text-align: center;
    margin-bottom: 0.5rem;
    max-width: 100%; // Ne dépasse pas la largeur de l'image
  }

  button{
    border: #00b1ca;
    background-color: #00b1ca;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
  }
  .download-button{
    mat-icon{
      margin: auto;
    }
  }
 
  .header{
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
    margin-right: 5px;
}
.label-file:hover {
    color: #25a5c4;
}

.input-file {
    display: none;
}

.search{
   display: flex;
   align-items: center;
}
// .icon-search {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 5px;
//   border: 1px solid #00b1ca;
//   margin: 1px;
//   color: #fff;
//   border-radius: 50%;
//   width: 20px;
//   height: 20px;
//   cursor: pointer;
//   background: #00b1ca;
// }
.send{
   display: flex;
   align-items: center;
}
.icon-send{
  padding: 5px;
  border: 1px solid #00b1ca;
  margin: 1px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: #00b1ca;
}
input{
    padding: 10px 12px;
    margin: 5px;
    border: 1px solid #bec5dc;
    color: #464f6a;
    border-radius: 5px;
}
select{
    padding: 10px 12px;
    margin: 5px;
    border: 1px solid #bec5dc;
    color: #464f6a;
    border-radius: 5px;
}
.liste{
  display: flex;
  justify-content: center;
}
.selected-image {
  width: 300px;
  padding: 20px;
}
.box{
  display: flex;
  margin: 15px;
  justify-content: center;
}
.left-box{
border: 2px solid #00b1ca;
margin: 10px;
border-radius: 20px;
}
.right-box{
  border: 2px solid #00b1ca;
  margin: 10px;
  border-radius: 20px;
h3{
  padding: 20px;
}
}

.image-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.5rem;
  align-items: center;

  .tag {
    background-color: #00b1ca;
    color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 20px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.download-button img {
  width: 30px; /* Ajuster la largeur de l'image */
  height: 30px; /* Ajuster la hauteur de l'image */
  cursor: pointer;
}

.confidence-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

  input {
    padding: 10px;
    width: 50px;
    border: none;
    border-radius: 4px;
    background: #fff200;
    color: #000000;
    font-size: 16px;
    transition: all 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 25px;
    appearance: none;

    &:focus {
      outline: none;
      box-shadow: 0 0 10px rgba(0,0,0,0.25);
    }
  }

  .confidence-description {
    font-size: 14px;
    color: #ffffff;
    margin-top: 5px;
  }
}
