<app-header></app-header>

<div class="carousel-container">
  <div class="carousel">
    <div class="image-container" *ngFor="let image of images">
      <img *ngIf="image && image.url" [src]="image.url" alt="Image"
        (click)="openModal(image)"
        [alt]="image"
        class="image"
      />
      <div class="image-info">
        <div class="download-button">
          <img src="../../assets/ico.png" alt="Download" (click)="onDownload(image.name)" />
        </div>
      </div>
    </div>
  </div>
</div>

<button *ngIf="hasSelectedImages()" (click)="onDeleteSelected()">Supprimer les images sélectionnées</button>



<!-- <p>HOME</p>

<app-header></app-header>

<div class="carousel-container">
  <div class="carousel" *ngFor="let image of images">
    <div class="image-container">
      <img *ngIf="image && image.url" [src]="image.url" alt="Image"
          (click)="openModal(image)"
          [src]="image.url"
          [alt]="image"
          class="image"
        />
      </div>
      <div class="image-info">
        <h5 class="image-title">Titre : {{ image.name }}</h5>
        <h5 class="image-title">Description : {{ image.description }}</h5>
        <div class="image-tags">
          <h5 class="image-title">Tags :</h5> 
          <span *ngFor="let tag of image.tags" class="tag">{{ tag }}</span>
        </div>
        <button class="" (click)="onDownload(image.name)">
          Télécharger
        </button>
      </div>
    </div>
  </div> -->


<!-- <div class="container mt-4">
    <div class="carousel-container">
      <div class="carousel" *ngFor="let image of images">
        <div class="image-container">
          <img *ngIf="image && image.url" [src]="image.url" alt="Image" />
        </div>
  
        <div class="image-info">
          <h5 class="field-title">Nom:</h5>
          <h5 class="image-title">{{ image.name }}</h5>
  
          <h5 class="field-title">Description:</h5>
          <div class="image-description">{{ image.description }}</div>
  
          <h5 class="field-title">Tags:</h5>
          <div class="image-tags">
            <span *ngFor="let tag of image.tags" class="tag">{{ tag }}</span>
          </div>
  
          <div class="button-container">
            <button class="btn btn-primary" (click)="onDownload(image.name)">
              Télécharger
            </button>
          </div>
        </div>
      </div>
    </div>
</div> -->

  